# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

db.sqlite3
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build
# misc
frontend/src/.env
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Docker
.env
.env.local
.env.production
docker-compose.override.yml

media
media/jobs
api/EITLEM/Weights
api/EITLEM/Weights.zip
api/DLKcat/DeeplearningApproach/Data
api/DLKcat/DeeplearningApproach/Results
api/DLKcat/BayesianApproach
api/TurNup/data
api/UniKP-main/models
api/UniKP-main/run_unikp.py
__pycache__/
*.pyc

webKinPred/config_local.py
api/UniKP-main/models/*.pkl
.vscode/settings.json
.vscode/settings.json
